<launch>
	<!--delay the start of robofleet for a clean launch-->
	<arg name="node_start_delay" default="2.0" />  

    <!--launch robofleet with desired config file-->
    <arg name="config_file" value="$(find ar_star_ros)/../config/ar_star_rf_client_config.yaml"/>
    <node
    	name    = "robofleet_client"
    	pkg     = "robofleet_client"
    	type    = "client"
    	output  = "screen"
    	args	  = "$(arg config_file)"
		launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@'"
    />
</launch>